<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" href="/public/css/pico.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous">
    <title>{{app_name}}</title>
</head>
<body>
<main class="container">
    <h1>{{ app_name }}</h1>

    <form method="POST" enctype="multipart/form-data" action="/">
        <fieldset role="group">
            <input type="text"
                name="file_path"
                placeholder="Path to source file"
                aria-label="File path"
                value="{{ first_name }}"
                aria-invalid="{{ first_name_error}}"
            />
            <button type="submit">Clip</button>
        </fieldset>
    </form>

    {{#if pending_jobs}}
    <article id="pending_jobs">
        <h5>Clips in queue</h5>
        <ul>
            {{#each pending_jobs}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </article>
    {{/if}}

    <br/>
    <div id="Clips">
        {{#each clips}}
            <div class="grid">
                <div>
                    <div class="grid">
                        <div>
                            <a href="{{this.0.url}}" download><button class="outline primary"><i class="fa-solid fa-download"></i></button></a>
                            <a href="{{this.0.url}}"><button class="outline primary"><i class="fa-solid fa-link"></i></button></a>
                            <a href="{{this.0.public_url}}"><button class="outline primary"><i class="fa-solid fa-share-nodes"></i></button></a>
                            <a href="/delete?clip_name={{this.0.clip_name}}"><button class="outline primary"><i class="fa-solid fa-trash"></i></button></a>
                        </div>
                        <h2 class="video-title">{{this.0.clip_name}}</h2>
                    </div>
                    <video width="100%" controls>
                        <source src="{{this.0.url}}" type="video/mp4"/>
                    </video>
                </div>

                {{#if this.1.clip_name }}
                <div>
                    <div class="grid">
                        <div>
                            <a href="{{this.1.url}}" download><button class="outline primary"><i class="fa-solid fa-download"></i></button></a>
                            <a href="{{this.1.url}}"><button class="outline primary"><i class="fa-solid fa-link"></i></button></a>
                            <a href="{{this.1.public_url}}"><button class="outline primary"><i class="fa-solid fa-share-nodes"></i></button></a>
                            <a href="/delete?clip_name={{this.1.clip_name}}"><button class="outline primary"><i class="fa-solid fa-trash"></i></button></a>
                        </div>
                        <h2 class="video-title">{{this.1.clip_name}}</h2>
                    </div>
                    <video width="100%" controls>
                        <source src="{{this.1.url}}" type="video/mp4"/>
                    </video>
                </div>
                {{else}}
                <div></div>
                {{/if}}
            </div>
            <br/>
        {{/each}}
    </div>
</main>
</body>
</html>